body {
  width: 100%;
  height: 100%;
  .header {
    height: 150px;
    width: 100%;
    background-color: #333333;
    display: flex;
    
    .title {
     line-height: 150px;
     font-size: 50px;
     font-weight: bold;
     margin-left: 100px;
     a {
       text-decoration: none;
       color: lightgreen;
     }
    }
    .search_box {
      background-color: white;
      width: 300px;
      height: 30px;
      margin-top: 60px;
      margin-left: 180px;
    }
    .login_box {
      margin: 0 0 0 auto;
      line-height: 150px;
      margin-right: 50px;
      color: white;
      &:hover {
        opacity: 0.5;
      }
      
    }
    .post_box {
      margin-top: 60px;
      margin-right: 170px;
      height: 30px;
      width: 60px;
      border: 1px solid white;
      &:hover {
        opacity: 0.5;
      }
      &__text {
        line-height: 30px;
        text-align: center;
        color: white;
        font-weight: bold;
        a {
          text-decoration: none;
          color: white;
        }
      }

    }
  }
  .main {
    height: calc(100vh - 200px);
    background-color: gainsboro;
    .contents {
      color: darkslategray;
      display: flex;
      .content_post {
       width: 250px;
       height: 300px;
       margin-left: 32px;
       margin-top: 140px;
      
       .review_title {
         font-weight: bold;
         font-size: 18px;
       }
       .artist_name {
         font-size: 14px;
       }
       .image {
         &:hover {
          opacity: 0.5;
         }
       }
     }
    }
  }
  .footer {
    height: 50px;
    width: 100vw;
    line-height: 50px;
    text-align: center;
    color: lightsteelblue;
    position: relative;
    bottom: 0;
    background-color:gainsboro;
    
  }
}
